/**
 * Styles for 'UserBitcoinAddresses' special page.
 *
 * @licence MIT Licence
 * @author Daniel A. R. Werner < daniel.a.r.werner@gmail.com >
 */

form .error {
	font-size: 1em;
}

fieldset > div.error {
	display: none;
}

fieldset.containserror { /* added via JS */
	border-color: #cc0000;
}

#userbtcaddr-submitaddresses-manualinsert textarea {
	width: 36ch; /* BTC Address 34 characters
	              * +1 for "," if user wants to use for separating
	              * +1 for general styling (border, padding etc.)
	              */
}

th.mwuba-recordstable-th-removelink {
	display: none;
}
table.mwuba-recordstable {
	border: none;
	background-color: white; /* for invisible last column th */
}
table.mwuba-recordstable tr {
	background-color: #f9f9f9;
}
table.mwuba-recordstable tr > td:last-child {
	border-right: none;
	border-top: none;
	background-color: white;

}

tr.mwuba-actionimminent {
	background-color: #D6F3FF!important;
}
table.mwuba-recordstable code {
	background-color: transparent;
	border: none;
}